<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Built-In Namespace _global_
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
	</p>

<!-- ============================== constructor summary ==================== -->
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>