<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Namespace pulse.debug
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		debug

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/modules/pulse.debugsrc/define.js">/src/define.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.debug.">
		<caption>Namespace Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.debug#constructor">pulse.debug</a></b>
					</div>
					<div class="description">Defines the debug namespaces.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.debug.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						pulse.debug.<b><a href="../symbols/pulse.debug#.visualDebug">visualDebug</a></b>
						</div>
						<div class="description">Whether or not to globally draw debug information
on visual nodes.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.debug.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.debug.<b><a href="../symbols/pulse.debug#.getTypeColor">getTypeColor</a></b>(node)
						</div>
						<div class="description">Gets the debug color scheme for a node's type</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Namespace Detail
		</div>

		<div class="fixedFont">
				<b>pulse.debug</b>
		</div>

		<div class="description">
			Defines the debug namespaces.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name=".visualDebug"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.debug.</span><b>visualDebug</b>

			</div>
			<div class="description">
				Whether or not to globally draw debug information
on visual nodes.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name=".getTypeColor"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.debug.</span><b>getTypeColor</b>(node)

			</div>
			<div class="description">
				Gets the debug color scheme for a node's type
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{pulse.Node}</span> <b>node</b>
							
						</dt>
						<dd>the node</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>