<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.debug.tabs.Inspector
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The debug inspector tab class

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/src/inspecttab.js">/src/inspecttab.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.debug.tabs.Inspector.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Inspector#constructor">pulse.debug.tabs.Inspector</a></b>(params)
					</div>
					<div class="description">Inspector tab for debugging panel.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.debug.tabs.Inspector</b>(params)
		</div>

		<div class="description">
			Inspector tab for debugging panel.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						<i>Optional</i>
					</dt>
						<dd>parameters that can be set as initialized options
on the performance tab</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.name</b>
						<i>Optional</i>
					</dt>
						<dd>the name of the tab will be used for name of link</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.icon</b>
						<i>Optional</i>
					</dt>
						<dd>the icon url to use as image for the tab, should be
45x90 with off state on top (45x45) and on state on bottom (45x45)</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.id</b>
						<i>Optional</i>
					</dt>
						<dd>the machine readable id for the tab</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>