<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.debug.tabs.Console
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The debug console tab class

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/modules/pulse.debugsrc/consoletab.js">/src/consoletab.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.debug.tabs.Console.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#constructor">pulse.debug.tabs.Console</a></b>(params)
					</div>
					<div class="description">Console tab for debugging panel.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.debug.tabs.Console.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#allButton">allButton</a></b>
						</div>
						<div class="description">Button to display all console messages.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#errorsButton">errorsButton</a></b>
						</div>
						<div class="description">Button to display all console messages of type error.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#infoButton">infoButton</a></b>
						</div>
						<div class="description">Button to to display all console messages of type debug.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#logger">logger</a></b>
						</div>
						<div class="description">The logger for this console tab.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#selectedBGColor">selectedBGColor</a></b>
						</div>
						<div class="description">The background color of the selected filter.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#toolbar">toolbar</a></b>
						</div>
						<div class="description">The filter toolbar for this console tab.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.tabs.Console#warningsButton">warningsButton</a></b>
						</div>
						<div class="description">Button to display all console messages of type warning.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.debug.tabs.Console.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.tabs.Console#addFilterButton">addFilterButton</a></b>(name, type)
						</div>
						<div class="description">Adds a filter button to the toolbar</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.tabs.Console#clearFilter">clearFilter</a></b>()
						</div>
						<div class="description">Clears the filters from the logger.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.tabs.Console#filterLogs">filterLogs</a></b>(type)
						</div>
						<div class="description">Filters the logger based on the passed in type.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.tabs.Console#logMessage">logMessage</a></b>(text, type)
						</div>
						<div class="description">Adds log entry to the console.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.tabs.Console#resize">resize</a></b>(newSize)
						</div>
						<div class="description">Resizes the console when the container is resized.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.debug.tabs.Console</b>(params)
		</div>

		<div class="description">
			Console tab for debugging panel.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						<i>Optional</i>
					</dt>
						<dd>parameters that can be set as initialized options
on the console tab</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.name</b>
						<i>Optional</i>
					</dt>
						<dd>the name of the tab will be used for name of link</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.icon</b>
						<i>Optional</i>
					</dt>
						<dd>the icon url to use as image for the tab, should be 30x30</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.id</b>
						<i>Optional</i>
					</dt>
						<dd>the machine readable id for the tab</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="allButton"> </a>
			<div class="fixedFont">

			
			<b>allButton</b>

			</div>
			<div class="description">
				Button to display all console messages.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="errorsButton"> </a>
			<div class="fixedFont">

			
			<b>errorsButton</b>

			</div>
			<div class="description">
				Button to display all console messages of type error.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="infoButton"> </a>
			<div class="fixedFont">

			
			<b>infoButton</b>

			</div>
			<div class="description">
				Button to to display all console messages of type debug.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="logger"> </a>
			<div class="fixedFont">

			
			<b>logger</b>

			</div>
			<div class="description">
				The logger for this console tab.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="selectedBGColor"> </a>
			<div class="fixedFont">

			
			<b>selectedBGColor</b>

			</div>
			<div class="description">
				The background color of the selected filter.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="toolbar"> </a>
			<div class="fixedFont">

			
			<b>toolbar</b>

			</div>
			<div class="description">
				The filter toolbar for this console tab.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="warningsButton"> </a>
			<div class="fixedFont">

			
			<b>warningsButton</b>

			</div>
			<div class="description">
				Button to display all console messages of type warning.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="addFilterButton"> </a>
			<div class="fixedFont">

			<span class="light">{DOMElement}</span>
			<b>addFilterButton</b>(name, type)

			</div>
			<div class="description">
				Adds a filter button to the toolbar
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>name</b>
							
						</dt>
						<dd>the name to display for link</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the type of message to filter when pressed</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{DOMElement}</span> the link dom element created</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name="clearFilter"> </a>
			<div class="fixedFont">

			
			<b>clearFilter</b>()

			</div>
			<div class="description">
				Clears the filters from the logger.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="filterLogs"> </a>
			<div class="fixedFont">

			
			<b>filterLogs</b>(type)

			</div>
			<div class="description">
				Filters the logger based on the passed in type.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the type to filter the logger on</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="logMessage"> </a>
			<div class="fixedFont">

			
			<b>logMessage</b>(text, type)

			</div>
			<div class="description">
				Adds log entry to the console.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>text</b>
							
						</dt>
						<dd>the message text for the log entry</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the type of the message</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="resize"> </a>
			<div class="fixedFont">

			
			<b>resize</b>(newSize)

			</div>
			<div class="description">
				Resizes the console when the container is resized.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>newSize</b>
							
						</dt>
						<dd>the new size of the container</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>