<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Built-In Namespace _global_
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
	</p>

<!-- ============================== constructor summary ==================== -->
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class _global_.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/_global_#k">k</a></b>
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class _global_.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#A">A</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#Aa">Aa</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#B">B</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#Ba">Ba</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ba">ba</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#buffer">buffer</a></b>()
						</div>
						<div class="description">Buffer a sound from URL (or from cache) and decode to audio source (Web Audio API only).</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#C">C</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ca">ca</a></b>(b, a, c)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#Ca">Ca</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#D">D</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#d">d</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#da">da</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#e">e</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#f">f</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#fa">fa</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ga">ga</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#I">I</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ia">ia</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ja">ja</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#K">K</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#la">la</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#load">load</a></b>()
						</div>
						<div class="description">Load in the audio file.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#loaded">loaded</a></b>(buffer)
						</div>
						<div class="description">Finishes loading the Web Audio API sound and fires the loaded event</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ma">ma</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#n">n</a></b>(b, a)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#O">O</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#P">P</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#pause">pause</a></b>()
						</div>
						<div class="description">Pause playback and save the current position.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#PClass">PClass</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#play">play</a></b>()
						</div>
						<div class="description">Play a sound from the current time (0 by default).</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#Q">Q</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#R">R</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ra">ra</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#refresh">refresh</a></b>(obj)
						</div>
						<div class="description">Load the sound back into the buffer source.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#S">S</a></b>(b, a)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#stop">stop</a></b>()
						</div>
						<div class="description">Stop playback and reset to start.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#T">T</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ta">ta</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#U">U</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ua">ua</a></b>(b, a)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#V">V</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#va">va</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#wa">wa</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#x">x</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#X">X</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#xa">xa</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#Y">Y</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#y">y</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#ya">ya</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#z">z</a></b>(b)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/_global_#za">za</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="k"> </a>
			<div class="fixedFont">

			
			<b>k</b>

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="A"> </a>
			<div class="fixedFont">

			
			<b>A</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="Aa"> </a>
			<div class="fixedFont">

			
			<b>Aa</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="B"> </a>
			<div class="fixedFont">

			
			<b>B</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="Ba"> </a>
			<div class="fixedFont">

			
			<b>Ba</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="ba"> </a>
			<div class="fixedFont">

			
			<b>ba</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="buffer"> </a>
			<div class="fixedFont">

			
			<b>buffer</b>()

			</div>
			<div class="description">
				Buffer a sound from URL (or from cache) and decode to audio source (Web Audio API only).
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="C"> </a>
			<div class="fixedFont">

			
			<b>C</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="ca"> </a>
			<div class="fixedFont">

			
			<b>ca</b>(b, a, c)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>a</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>c</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="Ca"> </a>
			<div class="fixedFont">

			
			<b>Ca</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="D"> </a>
			<div class="fixedFont">

			
			<b>D</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="d"> </a>
			<div class="fixedFont">

			
			<b>d</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="da"> </a>
			<div class="fixedFont">

			
			<b>da</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="e"> </a>
			<div class="fixedFont">

			
			<b>e</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="f"> </a>
			<div class="fixedFont">

			
			<b>f</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="fa"> </a>
			<div class="fixedFont">

			
			<b>fa</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="ga"> </a>
			<div class="fixedFont">

			
			<b>ga</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="I"> </a>
			<div class="fixedFont">

			
			<b>I</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="ia"> </a>
			<div class="fixedFont">

			
			<b>ia</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="ja"> </a>
			<div class="fixedFont">

			
			<b>ja</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="K"> </a>
			<div class="fixedFont">

			
			<b>K</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="la"> </a>
			<div class="fixedFont">

			
			<b>la</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="load"> </a>
			<div class="fixedFont">

			
			<b>load</b>()

			</div>
			<div class="description">
				Load in the audio file.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="loaded"> </a>
			<div class="fixedFont">

			
			<b>loaded</b>(buffer)

			</div>
			<div class="description">
				Finishes loading the Web Audio API sound and fires the loaded event
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{Objecct}</span> <b>buffer</b>
							
						</dt>
						<dd>The decoded buffer sound source.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="ma"> </a>
			<div class="fixedFont">

			
			<b>ma</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="n"> </a>
			<div class="fixedFont">

			
			<b>n</b>(b, a)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>a</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="O"> </a>
			<div class="fixedFont">

			
			<b>O</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="P"> </a>
			<div class="fixedFont">

			
			<b>P</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="pause"> </a>
			<div class="fixedFont">

			
			<b>pause</b>()

			</div>
			<div class="description">
				Pause playback and save the current position.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="PClass"> </a>
			<div class="fixedFont">

			
			<b>PClass</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="play"> </a>
			<div class="fixedFont">

			
			<b>play</b>()

			</div>
			<div class="description">
				Play a sound from the current time (0 by default).
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="Q"> </a>
			<div class="fixedFont">

			
			<b>Q</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="R"> </a>
			<div class="fixedFont">

			
			<b>R</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="ra"> </a>
			<div class="fixedFont">

			
			<b>ra</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="refresh"> </a>
			<div class="fixedFont">

			
			<b>refresh</b>(obj)

			</div>
			<div class="description">
				Load the sound back into the buffer source.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{Object}</span> <b>obj</b>
							
						</dt>
						<dd>The sound to load.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="S"> </a>
			<div class="fixedFont">

			
			<b>S</b>(b, a)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>a</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="stop"> </a>
			<div class="fixedFont">

			
			<b>stop</b>()

			</div>
			<div class="description">
				Stop playback and reset to start.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="T"> </a>
			<div class="fixedFont">

			
			<b>T</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="ta"> </a>
			<div class="fixedFont">

			
			<b>ta</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="U"> </a>
			<div class="fixedFont">

			
			<b>U</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="ua"> </a>
			<div class="fixedFont">

			
			<b>ua</b>(b, a)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>a</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="V"> </a>
			<div class="fixedFont">

			
			<b>V</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="va"> </a>
			<div class="fixedFont">

			
			<b>va</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="wa"> </a>
			<div class="fixedFont">

			
			<b>wa</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="x"> </a>
			<div class="fixedFont">

			
			<b>x</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="X"> </a>
			<div class="fixedFont">

			
			<b>X</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="xa"> </a>
			<div class="fixedFont">

			
			<b>xa</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="Y"> </a>
			<div class="fixedFont">

			
			<b>Y</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="y"> </a>
			<div class="fixedFont">

			
			<b>y</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="ya"> </a>
			<div class="fixedFont">

			
			<b>ya</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="z"> </a>
			<div class="fixedFont">

			
			<b>z</b>(b)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>b</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="za"> </a>
			<div class="fixedFont">

			
			<b>za</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>