<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Built-In Namespace Date
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
	</p>

<!-- ============================== constructor summary ==================== -->
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class Date.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">Date.<b><a href="../symbols/Date#.now">now</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name=".now"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">Date.</span><b>now</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>