<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Namespace pulse.support
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/support.js">/src/support.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.support.">
		<caption>Namespace Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.support#constructor">pulse.support</a></b>
					</div>
					<div class="description">Support namespace that holds boolean objects that tell you if
certain technologies are supported.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.support.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						pulse.support.<b><a href="../symbols/pulse.support#.touch">touch</a></b>
						</div>
						<div class="description">Whether touch events are supported in the current browser.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Namespace Detail
		</div>

		<div class="fixedFont">
				<b>pulse.support</b>
		</div>

		<div class="description">
			Support namespace that holds boolean objects that tell you if
certain technologies are supported.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name=".touch"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.support.</span><b>touch</b>

			</div>
			<div class="description">
				Whether touch events are supported in the current browser.
			</div>

			

				
				
				
				
					<dl class="detailList">
					<dt class="heading">Default Value:</dt>
					<dd>
						false
					</dd>
					</dl>
				

			
		
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>