<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.Sound
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Sound

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/src/asset/sound.js">/src/asset/sound.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Sound.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Sound#constructor">pulse.Sound</a></b>(params)
					</div>
					<div class="description">Sound asset definition.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.Sound.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						pulse.Sound.<b><a href="../symbols/pulse.Sound#.FlashInitialized">FlashInitialized</a></b>
						</div>
						<div class="description">Global property used for determining if the Flash sound manager has been
initialized.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Sound#loop">loop</a></b>
						</div>
						<div class="description">Whether to loop the sound file when played.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Sound#paused">paused</a></b>
						</div>
						<div class="description">Whether the sound is currently paused.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Sound#playing">playing</a></b>
						</div>
						<div class="description">Whether the sound is currently playing.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.Sound.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#finished">finished</a></b>()
						</div>
						<div class="description">Sound finished playing.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#initFlashPlayer">initFlashPlayer</a></b>()
						</div>
						<div class="description">Initalizes flash sound manager.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#load">load</a></b>()
						</div>
						<div class="description">Begins loading the font file for this bitmap font.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#pause">pause</a></b>()
						</div>
						<div class="description">Pauses the sound file.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#play">play</a></b>()
						</div>
						<div class="description">Plays the sound file.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#stop">stop</a></b>()
						</div>
						<div class="description">Stops the sound file.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the events documented in the class pulse.Sound.">
			<caption>Event Summary</caption>
			<thead>
				<tr>
					<th scope="col">Event Attributes</th>
					<th scope="col">Event Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Sound#event:raise">raise</a></b>(data)
						</div>
						<div class="description">Event rose when sound is finished playing.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Sound</b>(params)
		</div>

		<div class="description">
			Sound asset definition. Can be loaded and can be played.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						
					</dt>
						<dd>parameters that can be set as initialized options
on the node</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.filename</b>
						
					</dt>
						<dd>the name of the sound file, if type is 'html5'
the file extension is not needed because files must be available in .mp3 and
.ogg</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.type</b>
						<i>Optional</i>
					</dt>
						<dd>the type of audio player to use for this file,
possible types are 'flash' and 'html5', defaults to 'flash'</dd>
				
					<dt>
						<span class="light fixedFont">{boolean}</span>  <b>params.loop</b>
						<i>Optional</i>
					</dt>
						<dd>whether to loop the sound</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name=".FlashInitialized"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.Sound.</span><b>FlashInitialized</b>

			</div>
			<div class="description">
				Global property used for determining if the Flash sound manager has been
initialized.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="loop"> </a>
			<div class="fixedFont">

			
			<b>loop</b>

			</div>
			<div class="description">
				Whether to loop the sound file when played.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="paused"> </a>
			<div class="fixedFont">

			
			<b>paused</b>

			</div>
			<div class="description">
				Whether the sound is currently paused.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="playing"> </a>
			<div class="fixedFont">

			
			<b>playing</b>

			</div>
			<div class="description">
				Whether the sound is currently playing.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="finished"> </a>
			<div class="fixedFont">

			
			<b>finished</b>()

			</div>
			<div class="description">
				Sound finished playing. This will raise event for finished playing.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="initFlashPlayer"> </a>
			<div class="fixedFont">

			
			<b>initFlashPlayer</b>()

			</div>
			<div class="description">
				Initalizes flash sound manager.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="load"> </a>
			<div class="fixedFont">

			
			<b>load</b>()

			</div>
			<div class="description">
				Begins loading the font file for this bitmap font.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="pause"> </a>
			<div class="fixedFont">

			
			<b>pause</b>()

			</div>
			<div class="description">
				Pauses the sound file.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="play"> </a>
			<div class="fixedFont">

			
			<b>play</b>()

			</div>
			<div class="description">
				Plays the sound file.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="stop"> </a>
			<div class="fixedFont">

			
			<b>stop</b>()

			</div>
			<div class="description">
				Stops the sound file.
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
		<div class="sectionTitle">
			Event Detail
		</div>
		
			<a name="event:raise"> </a>
			<div class="fixedFont">

			
			<b>raise</b>(data)

			</div>
			<div class="description">
				Event rose when sound is finished playing.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>data</b>
							
						</dt>
						<dd>Object with sound that rose the event.</dd>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Sound">pulse.Sound</a>}</span> <b>data.sound</b>
							
						</dt>
						<dd>The sound that rose the event.</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	
</div>