<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.Engine
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Main engine class

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/engine.js">/src/engine.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Engine.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#constructor">pulse.Engine</a></b>(params)
					</div>
					<div class="description">Engine handles starting the game, generating the game loop and
handling the base game window</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.Engine.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#gameWindow">gameWindow</a></b>
						</div>
						<div class="description">The game window element.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#hidden">hidden</a></b>
						</div>
						<div class="description">Whether the game is currently hidden and should ignore window events.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#loopLogic">loopLogic</a></b>
						</div>
						<div class="description">External loop callback that will be called once every game loop.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#masterTime">masterTime</a></b>
						</div>
						<div class="description">Master time of the engine.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#scenes">scenes</a></b>
						</div>
						<div class="description">Scene manager handles adding, remove, activating, and deactivating
scenes.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#size">size</a></b>
						</div>
						<div class="description">The current size of the game.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Engine#tick">tick</a></b>
						</div>
						<div class="description">The length of time inbetween setInterval calls.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.Engine.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#activateScene">activateScene</a></b>(scene)
						</div>
						<div class="description">Activates a scene in this engine's scene manager by name.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#addScene">addScene</a></b>(scene)
						</div>
						<div class="description">Adds a scene to this engine's scene manager.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#deactivateScene">deactivateScene</a></b>(scene)
						</div>
						<div class="description">Deactivate a scene in this engine's scene manager by name.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#draw">draw</a></b>()
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#getWindowOffset">getWindowOffset</a></b>()
						</div>
						<div class="description">The current game window offset from the main html window.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#go">go</a></b>(tick, loop)
						</div>
						<div class="description">Starts the game engine and kicks off the game loop.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#loop">loop</a></b>(autoContinue)
						</div>
						<div class="description">The engine's game loop, handles updating active scenes.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#removeScene">removeScene</a></b>(scene)
						</div>
						<div class="description">Removes a scene from this engine's scene manager by name.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Engine#update">update</a></b>(elapsed)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Engine</b>(params)
		</div>

		<div class="description">
			Engine handles starting the game, generating the game loop and
handling the base game window
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						
					</dt>
						<dd>parameters that can be set as initialized options
on the node</dd>
				
					<dt>
						<span class="light fixedFont">{string|DOMElement}</span>  <b>params.gameWindow</b>
						
					</dt>
						<dd>the dom element to use as the main
game window, if a string it will pull the element by id, if it's a element
it will simply use it as is</dd>
				
					<dt>
						<span class="light fixedFont">{size}</span>  <b>params.size</b>
						<i>Optional</i>
					</dt>
						<dd>initial size width and height
to use for the engine's game window.</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="gameWindow"> </a>
			<div class="fixedFont">

			
			<b>gameWindow</b>

			</div>
			<div class="description">
				The game window element.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="hidden"> </a>
			<div class="fixedFont">

			
			<b>hidden</b>

			</div>
			<div class="description">
				Whether the game is currently hidden and should ignore window events.
			</div>

			

				
				
				
				
					<dl class="detailList">
					<dt class="heading">Default Value:</dt>
					<dd>
						false
					</dd>
					</dl>
				

			<hr />
		
			<a name="loopLogic"> </a>
			<div class="fixedFont">

			
			<b>loopLogic</b>

			</div>
			<div class="description">
				External loop callback that will be called once every game loop.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="masterTime"> </a>
			<div class="fixedFont">

			
			<b>masterTime</b>

			</div>
			<div class="description">
				Master time of the engine. This holds how long the engine has been
running.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="scenes"> </a>
			<div class="fixedFont">

			
			<b>scenes</b>

			</div>
			<div class="description">
				Scene manager handles adding, remove, activating, and deactivating
scenes.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="size"> </a>
			<div class="fixedFont">

			
			<b>size</b>

			</div>
			<div class="description">
				The current size of the game.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="tick"> </a>
			<div class="fixedFont">

			
			<b>tick</b>

			</div>
			<div class="description">
				The length of time inbetween setInterval calls.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="activateScene"> </a>
			<div class="fixedFont">

			
			<b>activateScene</b>(scene)

			</div>
			<div class="description">
				Activates a scene in this engine's scene manager by name.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Scene">pulse.Scene</a>|string}</span> <b>scene</b>
							
						</dt>
						<dd>the scene or name of scene</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="addScene"> </a>
			<div class="fixedFont">

			
			<b>addScene</b>(scene)

			</div>
			<div class="description">
				Adds a scene to this engine's scene manager.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Scene">pulse.Scene</a>}</span> <b>scene</b>
							
						</dt>
						<dd>the scene to add</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="deactivateScene"> </a>
			<div class="fixedFont">

			
			<b>deactivateScene</b>(scene)

			</div>
			<div class="description">
				Deactivate a scene in this engine's scene manager by name.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Scene">pulse.Scene</a>|string}</span> <b>scene</b>
							
						</dt>
						<dd>the scene or name of scene</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="draw"> </a>
			<div class="fixedFont">

			
			<b>draw</b>()

			</div>
			<div class="description">
				
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="getWindowOffset"> </a>
			<div class="fixedFont">

			<span class="light">{point}</span>
			<b>getWindowOffset</b>()

			</div>
			<div class="description">
				The current game window offset from the main html window.
			</div>

			

				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{point}</span> point that includes the x and y of the offset</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name="go"> </a>
			<div class="fixedFont">

			
			<b>go</b>(tick, loop)

			</div>
			<div class="description">
				Starts the game engine and kicks off the game loop.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>tick</b>
							
						</dt>
						<dd>the tick length for the game loop</dd>
					
						<dt>
							<span class="light fixedFont">{function}</span> <b>loop</b>
							<i>Optional</i>
						</dt>
						<dd>the game loop callback</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="loop"> </a>
			<div class="fixedFont">

			
			<b>loop</b>(autoContinue)

			</div>
			<div class="description">
				The engine's game loop, handles updating active scenes.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>autoContinue</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="removeScene"> </a>
			<div class="fixedFont">

			
			<b>removeScene</b>(scene)

			</div>
			<div class="description">
				Removes a scene from this engine's scene manager by name.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Scene">pulse.Scene</a>|string}</span> <b>scene</b>
							
						</dt>
						<dd>the scene or name of scene</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="update"> </a>
			<div class="fixedFont">

			
			<b>update</b>(elapsed)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>elapsed</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>