<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.plugin.PluginCollection
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Plugin Collection

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/src/plugin/plugincollection.js">/src/plugin/plugincollection.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.plugin.PluginCollection.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.plugin.PluginCollection#constructor">pulse.plugin.PluginCollection</a></b>()
					</div>
					<div class="description">Holds a collection of plugins.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.plugin.PluginCollection.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.plugin.PluginCollection#add">add</a></b>(plugin)
						</div>
						<div class="description">Adds a plugin to the collection.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.plugin.PluginCollection#remove">remove</a></b>(plugin)
						</div>
						<div class="description">Removes a plugin from the collection.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.plugin.PluginCollection</b>()
		</div>

		<div class="description">
			Holds a collection of plugins.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="add"> </a>
			<div class="fixedFont">

			
			<b>add</b>(plugin)

			</div>
			<div class="description">
				Adds a plugin to the collection.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{pulse.Plugin}</span> <b>plugin</b>
							
						</dt>
						<dd>The plugin to add.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="remove"> </a>
			<div class="fixedFont">

			
			<b>remove</b>(plugin)

			</div>
			<div class="description">
				Removes a plugin from the collection.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{pulse.Plugin}</span> <b>plugin</b>
							
						</dt>
						<dd>The plugin to remove.</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>