<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.Asset
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The base for assets.

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src\asset\asset.js">/src\asset\asset.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Asset.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#constructor">pulse.Asset</a></b>(filename)
					</div>
					<div class="description">The base class for all assets.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.Asset.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#autoLoad">autoLoad</a></b>
						</div>
						<div class="description">This determines whether to begin loading the asset automatically,or to wait for the developer to start the loading process.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#error">error</a></b>
						</div>
						<div class="description">A flag to determine if there was an error loading the asset.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#events">events</a></b>
						</div>
						<div class="description">Event handler for this asset.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#filename">filename</a></b>
						</div>
						<div class="description">The path to the raw file.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Asset#percentLoaded">percentLoaded</a></b>
						</div>
						<div class="description">The process percentage of how much of the raw file has been loaded.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.Asset.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Asset#complete">complete</a></b>()
						</div>
						<div class="description">This should be called when asset has completed loading.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Asset#load">load</a></b>()
						</div>
						<div class="description">Begins the loading process for the asset.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the events documented in the class pulse.Asset.">
			<caption>Event Summary</caption>
			<thead>
				<tr>
					<th scope="col">Event Attributes</th>
					<th scope="col">Event Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Asset#event:complete">complete</a></b>(data)
						</div>
						<div class="description">Event rose when asset has completely loaded.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Asset</b>(filename)
		</div>

		<div class="description">
			The base class for all assets.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>filename</b>
						
					</dt>
						<dd>the path to the raw file.</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="autoLoad"> </a>
			<div class="fixedFont">

			
			<b>autoLoad</b>

			</div>
			<div class="description">
				This determines whether to begin loading the asset automatically,or to wait for the developer to start the loading process.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="error"> </a>
			<div class="fixedFont">

			
			<b>error</b>

			</div>
			<div class="description">
				A flag to determine if there was an error loading the asset.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="events"> </a>
			<div class="fixedFont">

			
			<b>events</b>

			</div>
			<div class="description">
				Event handler for this asset.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="filename"> </a>
			<div class="fixedFont">

			
			<b>filename</b>

			</div>
			<div class="description">
				The path to the raw file.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="percentLoaded"> </a>
			<div class="fixedFont">

			
			<b>percentLoaded</b>

			</div>
			<div class="description">
				The process percentage of how much of the raw file has been loaded.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="complete"> </a>
			<div class="fixedFont">

			
			<b>complete</b>()

			</div>
			<div class="description">
				This should be called when asset has completed loading. Raises completeevent.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="load"> </a>
			<div class="fixedFont">

			
			<b>load</b>()

			</div>
			<div class="description">
				Begins the loading process for the asset. In this base class itdoes nothing.
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
		<div class="sectionTitle">
			Event Detail
		</div>
		
			<a name="event:complete"> </a>
			<div class="fixedFont">

			
			<b>complete</b>(data)

			</div>
			<div class="description">
				Event rose when asset has completely loaded.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>data</b>
							
						</dt>
						<dd>Object with asset that rose the event.</dd>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Asset">pulse.Asset</a>}</span> <b>data.asset</b>
							
						</dt>
						<dd>The asset that rose the event.</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	
</div>