<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.Point
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The point object.

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/point.js">/src/point.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Point.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Point#constructor">pulse.Point</a></b>(params)
					</div>
					<div class="description">Points are a simple objects that hold two values, x and y.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.Point.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Point#x">x</a></b>
						</div>
						<div class="description">The x coordinate of the point.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Point#y">y</a></b>
						</div>
						<div class="description">The y coordinate of the point.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Point</b>(params)
		</div>

		<div class="description">
			Points are a simple objects that hold two values, x and y. Typically they
are used to indicate positions in a 2-Dimensional plane.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						
					</dt>
						<dd>parameters that can be set as initialized options
on the point</dd>
				
					<dt>
						<span class="light fixedFont">{string|number}</span>  <b>params.x</b>
						
					</dt>
						<dd>The x coordinate of the point.</dd>
				
					<dt>
						<span class="light fixedFont">{string|number}</span>  <b>params.y</b>
						
					</dt>
						<dd>The y coordinate of the point.</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="x"> </a>
			<div class="fixedFont">

			
			<b>x</b>

			</div>
			<div class="description">
				The x coordinate of the point.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="y"> </a>
			<div class="fixedFont">

			
			<b>y</b>

			</div>
			<div class="description">
				The y coordinate of the point.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>