<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.Event
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Event properties

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/event/eventproperties.js">/src/event/eventproperties.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Event.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Event#constructor">pulse.Event</a></b>()
					</div>
					<div class="description">Simple class for holding properties for an event</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.Event.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Event#canceled">canceled</a></b>
						</div>
						<div class="description">Whether or not this event has been cancelled by calling stopPropagation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Event#rawEvent">rawEvent</a></b>
						</div>
						<div class="description">The raw browser event that can be used for various things.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.Event#sender">sender</a></b>
						</div>
						<div class="description">The raiser of the event.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.Event.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.Event#stopPropagation">stopPropagation</a></b>()
						</div>
						<div class="description">Stops the event from propagating further.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Event</b>()
		</div>

		<div class="description">
			Simple class for holding properties for an event
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="canceled"> </a>
			<div class="fixedFont">

			
			<b>canceled</b>

			</div>
			<div class="description">
				Whether or not this event has been cancelled by calling stopPropagation.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="rawEvent"> </a>
			<div class="fixedFont">

			
			<b>rawEvent</b>

			</div>
			<div class="description">
				The raw browser event that can be used for various things.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="sender"> </a>
			<div class="fixedFont">

			
			<b>sender</b>

			</div>
			<div class="description">
				The raiser of the event.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="stopPropagation"> </a>
			<div class="fixedFont">

			
			<b>stopPropagation</b>()

			</div>
			<div class="description">
				Stops the event from propagating further.
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>