<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Namespace pulse.util
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/util.js">/src/util.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.util.">
		<caption>Namespace Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.util#constructor">pulse.util</a></b>
					</div>
					<div class="description">Utility namespace declaration if needed.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.util.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.checkParams">checkParams</a></b>(params, defaults)
						</div>
						<div class="description">Checks if the properties of the params object are set based on the defaults
object passed in.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.checkProperty">checkProperty</a></b>(obj, prop, propDefault)
						</div>
						<div class="description">This checks a given object for the existence of
a property.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.checkValue">checkValue</a></b>(variable, vDefault)
						</div>
						<div class="description">This just checks a variable and sets it to
a default value if the variable is null.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.compareZIndexes">compareZIndexes</a></b>(objA, objB)
						</div>
						<div class="description">Compares the zindex property of the objects passed in deciding which is
higher.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.easeInOutQuad">easeInOutQuad</a></b>(t, b, c, d)
						</div>
						<div class="description">Easing function to ease numeric progression using quadratic in and out
equation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.easeInQuad">easeInQuad</a></b>(t, b, c, d)
						</div>
						<div class="description">Easing function to ease numeric progression using quadratic in equation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.easeLinear">easeLinear</a></b>(t, b, c, d)
						</div>
						<div class="description">Easing function to ease numeric progression using linear equation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.easeOutCubic">easeOutCubic</a></b>(t, b, c, d)
						</div>
						<div class="description">Easing function to ease numeric progression using cubic out equation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.easeOutQuad">easeOutQuad</a></b>(t, b, c, d)
						</div>
						<div class="description">Easing function to ease numeric progression using quadratic out equation.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.eventSupported">eventSupported</a></b>(type)
						</div>
						<div class="description">Checks the browser support of the event</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.find">find</a></b>(collection, name)
						</div>
						<div class="description">Finds an object or function by name by searching through items in collection.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.getIFrame">getIFrame</a></b>(parentElement)
						</div>
						<div class="description">Creates an HTML IFrame and attaches it to the DOM of the HTML document by
adding it as a child to the passed in parent element.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.getLength">getLength</a></b>(obj)
						</div>
						<div class="description">Calculates the length of object based on number of properties it has</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.getOrderedKeys">getOrderedKeys</a></b>(objects)
						</div>
						<div class="description">Calculates the z order or a collection of object based on their zindex
property.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">pulse.util.<b><a href="../symbols/pulse.util#.intersects">intersects</a></b>(box1, box2)
						</div>
						<div class="description">Checks if two rectangles overlap at all.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Namespace Detail
		</div>

		<div class="fixedFont">
				<b>pulse.util</b>
		</div>

		<div class="description">
			Utility namespace declaration if needed. Holds basic utilities for
global use.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name=".checkParams"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{object}</span>
			<span class="light">pulse.util.</span><b>checkParams</b>(params, defaults)

			</div>
			<div class="description">
				Checks if the properties of the params object are set based on the defaults
object passed in.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>params</b>
							
						</dt>
						<dd>The object to check the properties on</dd>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>defaults</b>
							
						</dt>
						<dd>The default values and properties to check against</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{object}</span> Updated params object with defaults set if needed</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".checkProperty"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.util.</span><b>checkProperty</b>(obj, prop, propDefault)

			</div>
			<div class="description">
				This checks a given object for the existence of
a property. If it does not exist, it creates it and
sets it to the default value.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>obj</b>
							
						</dt>
						<dd>the object</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>prop</b>
							
						</dt>
						<dd>the property</dd>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>propDefault</b>
							
						</dt>
						<dd>the default value</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".checkValue"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.util.</span><b>checkValue</b>(variable, vDefault)

			</div>
			<div class="description">
				This just checks a variable and sets it to
a default value if the variable is null.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>variable</b>
							
						</dt>
						<dd>the variable to check</dd>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>vDefault</b>
							
						</dt>
						<dd>the default value</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".compareZIndexes"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>compareZIndexes</b>(objA, objB)

			</div>
			<div class="description">
				Compares the zindex property of the objects passed in deciding which is
higher.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>objA</b>
							
						</dt>
						<dd>The first object to compare</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>objA.zindex</b>
							
						</dt>
						<dd>The zindex of the first object</dd>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>objB</b>
							
						</dt>
						<dd>The second object to compare</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>objB.zindex</b>
							
						</dt>
						<dd>The zindex of the second objects</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> 0 if they are equal, 1 if objA is higher and -1 if objB is</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".easeInOutQuad"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>easeInOutQuad</b>(t, b, c, d)

			</div>
			<div class="description">
				Easing function to ease numeric progression using quadratic in and out
equation.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>t</b>
							
						</dt>
						<dd>The current time.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>b</b>
							
						</dt>
						<dd>The starting value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>c</b>
							
						</dt>
						<dd>The total change in value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>d</b>
							
						</dt>
						<dd>The duration to change the value over.</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The current value.</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".easeInQuad"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>easeInQuad</b>(t, b, c, d)

			</div>
			<div class="description">
				Easing function to ease numeric progression using quadratic in equation.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>t</b>
							
						</dt>
						<dd>The current time.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>b</b>
							
						</dt>
						<dd>The starting value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>c</b>
							
						</dt>
						<dd>The total change in value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>d</b>
							
						</dt>
						<dd>The duration to change the value over.</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The current value.</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".easeLinear"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>easeLinear</b>(t, b, c, d)

			</div>
			<div class="description">
				Easing function to ease numeric progression using linear equation.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>t</b>
							
						</dt>
						<dd>The current time.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>b</b>
							
						</dt>
						<dd>The starting value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>c</b>
							
						</dt>
						<dd>The total change in value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>d</b>
							
						</dt>
						<dd>The duration to change the value over.</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The current value.</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".easeOutCubic"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>easeOutCubic</b>(t, b, c, d)

			</div>
			<div class="description">
				Easing function to ease numeric progression using cubic out equation.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>t</b>
							
						</dt>
						<dd>The current time.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>b</b>
							
						</dt>
						<dd>The starting value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>c</b>
							
						</dt>
						<dd>The total change in value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>d</b>
							
						</dt>
						<dd>The duration to change the value over.</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The current value.</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".easeOutQuad"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>easeOutQuad</b>(t, b, c, d)

			</div>
			<div class="description">
				Easing function to ease numeric progression using quadratic out equation.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>t</b>
							
						</dt>
						<dd>The current time.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>b</b>
							
						</dt>
						<dd>The starting value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>c</b>
							
						</dt>
						<dd>The total change in value.</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>d</b>
							
						</dt>
						<dd>The duration to change the value over.</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The current value.</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".eventSupported"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">pulse.util.</span><b>eventSupported</b>(type)

			</div>
			<div class="description">
				Checks the browser support of the event
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the event type to check</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name=".find"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{array}</span>
			<span class="light">pulse.util.</span><b>find</b>(collection, name)

			</div>
			<div class="description">
				Finds an object or function by name by searching through items in collection.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{array|object}</span> <b>collection</b>
							
						</dt>
						<dd>The array or object to search through</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>name</b>
							
						</dt>
						<dd>The name of the object or function to find</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{array}</span> A collection of matching objects or functions</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".getIFrame"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{IFrame}</span>
			<span class="light">pulse.util.</span><b>getIFrame</b>(parentElement)

			</div>
			<div class="description">
				Creates an HTML IFrame and attaches it to the DOM of the HTML document by
adding it as a child to the passed in parent element.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{DOMElement}</span> <b>parentElement</b>
							<i>Optional</i>
						</dt>
						<dd>Parent element to add the IFrame to, if
none is passed in it's added to the document's body</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{IFrame}</span> The IFrame element created and added to the HTML document</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".getLength"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{number}</span>
			<span class="light">pulse.util.</span><b>getLength</b>(obj)

			</div>
			<div class="description">
				Calculates the length of object based on number of properties it has
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>obj</b>
							
						</dt>
						<dd>The object to calculate length of</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{number}</span> The number of properties the object has</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".getOrderedKeys"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{array}</span>
			<span class="light">pulse.util.</span><b>getOrderedKeys</b>(objects)

			</div>
			<div class="description">
				Calculates the z order or a collection of object based on their zindex
property.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>objects</b>
							
						</dt>
						<dd>The collection (associative array) of objects
to compare</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{array}</span> An array of the keys of the objects collection in order</dd>
					
					</dl>
				
				
				

			<hr />
		
			<a name=".intersects"> </a>
			<div class="fixedFont">&lt;static&gt; 

			<span class="light">{boolean}</span>
			<span class="light">pulse.util.</span><b>intersects</b>(box1, box2)

			</div>
			<div class="description">
				Checks if two rectangles overlap at all.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>box1</b>
							
						</dt>
						<dd>The first rectangle to compare</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box1.x</b>
							
						</dt>
						<dd>The x position of the first rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box1.y</b>
							
						</dt>
						<dd>The y position of the first rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box1.width</b>
							
						</dt>
						<dd>The width of the first rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box1.height</b>
							
						</dt>
						<dd>The height of the first rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{object}</span> <b>box2</b>
							
						</dt>
						<dd>The second rectangle to compare</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box2.x</b>
							
						</dt>
						<dd>The x position of the second rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box2.y</b>
							
						</dt>
						<dd>The y position of the second rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box2.width</b>
							
						</dt>
						<dd>The width of the second rectangle</dd>
					
						<dt>
							<span class="light fixedFont">{number}</span> <b>box2.height</b>
							
						</dt>
						<dd>The height of the second rectangle</dd>
					
					</dl>
				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{boolean}</span> Whether or not the two rectangles are overlapping at all</dd>
					
					</dl>
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>