<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.TextFile
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Text File

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src\asset\textfile.js">/src\asset\textfile.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.TextFile.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.TextFile#constructor">pulse.TextFile</a></b>(params)
					</div>
					<div class="description">Text file asset type, downloads a file as text and stores it.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.TextFile.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.TextFile#text">text</a></b>
						</div>
						<div class="description">The text that is in the text file downloaded.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.TextFile.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.TextFile#load">load</a></b>()
						</div>
						<div class="description">Begins loading the text file</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.TextFile</b>(params)
		</div>

		<div class="description">
			Text file asset type, downloads a file as text and stores it.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						
					</dt>
						<dd>parameters that can be set as initialized optionson the node</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.filename</b>
						
					</dt>
						<dd>the name of the file to download</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="text"> </a>
			<div class="fixedFont">

			
			<b>text</b>

			</div>
			<div class="description">
				The text that is in the text file downloaded.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="load"> </a>
			<div class="fixedFont">

			
			<b>load</b>()

			</div>
			<div class="description">
				Begins loading the text file
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>