<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.AjaxLoader
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Ajax loader.

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/asset/ajaxloader.js">/src/asset/ajaxloader.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.AjaxLoader.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.AjaxLoader#constructor">pulse.AjaxLoader</a></b>()
					</div>
					<div class="description">Ajax loader that handle XMLHttpRequest and also IE cross-domain requests
using XDomainRequest.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.AjaxLoader.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AjaxLoader#onerror">onerror</a></b>(callback)
						</div>
						<div class="description">Adds a callback for if error occured during request.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AjaxLoader#onload">onload</a></b>(callback)
						</div>
						<div class="description">Adds a callback for when request has finished loading.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AjaxLoader#send">send</a></b>()
						</div>
						<div class="description">Sends request.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.AjaxLoader</b>()
		</div>

		<div class="description">
			Ajax loader that handle XMLHttpRequest and also IE cross-domain requests
using XDomainRequest.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="onerror"> </a>
			<div class="fixedFont">

			
			<b>onerror</b>(callback)

			</div>
			<div class="description">
				Adds a callback for if error occured during request.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{Function}</span> <b>callback</b>
							
						</dt>
						<dd>The error handler. The handler should take data,
and status.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="onload"> </a>
			<div class="fixedFont">

			
			<b>onload</b>(callback)

			</div>
			<div class="description">
				Adds a callback for when request has finished loading.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{Function}</span> <b>callback</b>
							
						</dt>
						<dd>The load handler. The handler should take data,
and status.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="send"> </a>
			<div class="fixedFont">

			<span class="light">{boolean}</span>
			<b>send</b>()

			</div>
			<div class="description">
				Sends request.
			</div>

			

				
				
				
				
				
					<dl class="detailList">
					<dt class="heading">Returns:</dt>
					
						<dd><span class="light fixedFont">{boolean}</span> If the request was successfully sent.</dd>
					
					</dl>
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>