<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Built-In Namespace Object
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
	</p>

<!-- ============================== constructor summary ==================== -->
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class Object.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&lt;static&gt; &nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">Object.<b><a href="../symbols/Object#.defineProperty">defineProperty</a></b>(y, w, A)
						</div>
						<div class="description"></div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name=".defineProperty"> </a>
			<div class="fixedFont">&lt;static&gt; 

			
			<span class="light">Object.</span><b>defineProperty</b>(y, w, A)

			</div>
			<div class="description">
				
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<b>y</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>w</b>
							
						</dt>
						<dd></dd>
					
						<dt>
							<b>A</b>
							
						</dt>
						<dd></dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>