<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Namespace pulse.Audio
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src\asset\audio\audio.native.js">/src\asset\audio\audio.native.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.Audio.">
		<caption>Namespace Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.Audio#constructor">pulse.Audio</a></b>
					</div>
					<div class="description">Audio Namespace declaration if needed.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Namespace Detail
		</div>

		<div class="fixedFont">
				<b>pulse.Audio</b>
		</div>

		<div class="description">
			Audio Namespace declaration if needed.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>