<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.BitmapChar
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Bitmap font character

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src\asset\bitmapfont.js">/src\asset\bitmapfont.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.BitmapChar.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#constructor">pulse.BitmapChar</a></b>()
					</div>
					<div class="description">Bitmap font character definition</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.BitmapChar.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#offset">offset</a></b>
						</div>
						<div class="description">The offset of the character inside the bitmap sheet.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#page">page</a></b>
						</div>
						<div class="description">The page that the character is on.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#position">position</a></b>
						</div>
						<div class="description">The position of the character inside the bitmap sheet.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#size">size</a></b>
						</div>
						<div class="description">The size of the character inside the bitmap sheet.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.BitmapChar#xAdvance">xAdvance</a></b>
						</div>
						<div class="description">The x advance of the character.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.BitmapChar</b>()
		</div>

		<div class="description">
			Bitmap font character definition
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="offset"> </a>
			<div class="fixedFont">

			
			<b>offset</b>

			</div>
			<div class="description">
				The offset of the character inside the bitmap sheet.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="page"> </a>
			<div class="fixedFont">

			
			<b>page</b>

			</div>
			<div class="description">
				The page that the character is on.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="position"> </a>
			<div class="fixedFont">

			
			<b>position</b>

			</div>
			<div class="description">
				The position of the character inside the bitmap sheet.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="size"> </a>
			<div class="fixedFont">

			
			<b>size</b>

			</div>
			<div class="description">
				The size of the character inside the bitmap sheet.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="xAdvance"> </a>
			<div class="fixedFont">

			
			<b>xAdvance</b>

			</div>
			<div class="description">
				The x advance of the character. This is how much space should be betweenthis character and the next character.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>