<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.AssetManager
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The master manager for all assets in a game.

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/pulse/src/asset/assetmanager.js">/src/asset/assetmanager.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.AssetManager.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.AssetManager#constructor">pulse.AssetManager</a></b>()
					</div>
					<div class="description">Asset manager is a common respository for all assets, and handles
all assets for an engine instance.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.AssetManager.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.AssetManager#bundles">bundles</a></b>
						</div>
						<div class="description">The bundles managed by this asset manager.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.AssetManager#events">events</a></b>
						</div>
						<div class="description">Event handler for the asset manager.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.AssetManager#percentLoaded">percentLoaded</a></b>
						</div>
						<div class="description">The precentage of loaded bundles in the manager.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.AssetManager.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#addAsset">addAsset</a></b>(asset, bundle)
						</div>
						<div class="description">Adds an asset to the bundle provided.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#addBundle">addBundle</a></b>(bundle, name)
						</div>
						<div class="description">Adds an bundle to manage, if a bundle with the same name is not in the
bundle collection already.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#getAsset">getAsset</a></b>(name, bundle)
						</div>
						<div class="description">Gets an asset from the bundle with the bundle name provided, or from
the default bundle if no bundle name is provided.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#load">load</a></b>()
						</div>
						<div class="description">Loads all the attached bundles via their load function.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#removeAsset">removeAsset</a></b>(asset, bundle)
						</div>
						<div class="description">Removes an asset from the bundle provided.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#updatePercent">updatePercent</a></b>()
						</div>
						<div class="description">Updates the percent loaded.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the events documented in the class pulse.AssetManager.">
			<caption>Event Summary</caption>
			<thead>
				<tr>
					<th scope="col">Event Attributes</th>
					<th scope="col">Event Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#event:assetLoaded">assetLoaded</a></b>(asset)
						</div>
						<div class="description">Event rose when an asset, in any bundle, has been successfully loaded.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#event:complete">complete</a></b>()
						</div>
						<div class="description">Event rose when all asset bundles have completely loaded.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.AssetManager#event:progressChanged">progressChanged</a></b>()
						</div>
						<div class="description">Event rose when the percent loaded has changed.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.AssetManager</b>()
		</div>

		<div class="description">
			Asset manager is a common respository for all assets, and handles
all assets for an engine instance.
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="bundles"> </a>
			<div class="fixedFont">

			
			<b>bundles</b>

			</div>
			<div class="description">
				The bundles managed by this asset manager.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="events"> </a>
			<div class="fixedFont">

			
			<b>events</b>

			</div>
			<div class="description">
				Event handler for the asset manager.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="percentLoaded"> </a>
			<div class="fixedFont">

			
			<b>percentLoaded</b>

			</div>
			<div class="description">
				The precentage of loaded bundles in the manager.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="addAsset"> </a>
			<div class="fixedFont">

			
			<b>addAsset</b>(asset, bundle)

			</div>
			<div class="description">
				Adds an asset to the bundle provided. If no bundle name is provided,
the asset with be added to the default ("global") bundle.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.Asset">pulse.Asset</a>}</span> <b>asset</b>
							
						</dt>
						<dd>The Asset to add.</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>bundle</b>
							<i>Optional</i>
						</dt>
						<dd>The name of the bundle to add the asset to. If a
bundle name is not provided, the asset is added to the default bundle.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="addBundle"> </a>
			<div class="fixedFont">

			
			<b>addBundle</b>(bundle, name)

			</div>
			<div class="description">
				Adds an bundle to manage, if a bundle with the same name is not in the
bundle collection already.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{<a href="../symbols/pulse.AssetBundle">pulse.AssetBundle</a>}</span> <b>bundle</b>
							
						</dt>
						<dd>The bundle to add.</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>name</b>
							
						</dt>
						<dd>The name to assign to the bundle.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="getAsset"> </a>
			<div class="fixedFont">

			
			<b>getAsset</b>(name, bundle)

			</div>
			<div class="description">
				Gets an asset from the bundle with the bundle name provided, or from
the default bundle if no bundle name is provided.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>name</b>
							
						</dt>
						<dd>The name of the Asset to get.</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>bundle</b>
							<i>Optional</i>
						</dt>
						<dd>The name of the bundle to search. If a
bundle name is not provided, the default bundle is used.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="load"> </a>
			<div class="fixedFont">

			
			<b>load</b>()

			</div>
			<div class="description">
				Loads all the attached bundles via their load function.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="removeAsset"> </a>
			<div class="fixedFont">

			
			<b>removeAsset</b>(asset, bundle)

			</div>
			<div class="description">
				Removes an asset from the bundle provided. If no bundle name is provided,
the asset with be removed from the default ("global") bundle.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string|<a href="../symbols/pulse.Asset">pulse.Asset</a>}</span> <b>asset</b>
							
						</dt>
						<dd>The asset or name of the asset to remove.</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>bundle</b>
							<i>Optional</i>
						</dt>
						<dd>The name of the bundle to remove the asset from. If a
bundle name is not provided, the asset is removed from the default bundle.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="updatePercent"> </a>
			<div class="fixedFont">

			
			<b>updatePercent</b>()

			</div>
			<div class="description">
				Updates the percent loaded. This does not cause the complete event to
fire if the percent is calculated to be 100.
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
		<div class="sectionTitle">
			Event Detail
		</div>
		
			<a name="event:assetLoaded"> </a>
			<div class="fixedFont">

			
			<b>assetLoaded</b>(asset)

			</div>
			<div class="description">
				Event rose when an asset, in any bundle, has been successfully loaded.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>asset</b>
							
						</dt>
						<dd>The name of the asset that has been loaded.</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="event:complete"> </a>
			<div class="fixedFont">

			
			<b>complete</b>()

			</div>
			<div class="description">
				Event rose when all asset bundles have completely loaded.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="event:progressChanged"> </a>
			<div class="fixedFont">

			
			<b>progressChanged</b>()

			</div>
			<div class="description">
				Event rose when the percent loaded has changed.
			</div>

			

				
				
				
				
				
				
				

			
		
	
</div>