<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.MouseEvent
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		Mouse event properties

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/src/event/eventproperties.js">/src/event/eventproperties.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.MouseEvent.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#constructor">pulse.MouseEvent</a></b>()
					</div>
					<div class="description">Simple class for holding properties for a mouse event</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.MouseEvent.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#changedTouches">changedTouches</a></b>
						</div>
						<div class="description">Touch objects returned from the event that have been updated.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#gestureRotation">gestureRotation</a></b>
						</div>
						<div class="description">The rotation of the current gesture.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#gestureScale">gestureScale</a></b>
						</div>
						<div class="description">The scale of the current gesture.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#parent">parent</a></b>
						</div>
						<div class="description">Event position relative to the parent of object which the event was
raised from.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#position">position</a></b>
						</div>
						<div class="description">Event position relative to the object in which the event was raised from.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#scrollDelta">scrollDelta</a></b>
						</div>
						<div class="description">The scroll delta for mouse wheel.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#targetTouches">targetTouches</a></b>
						</div>
						<div class="description">Touch objects returned that originate from the same target element.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#touches">touches</a></b>
						</div>
						<div class="description">Touch objects returned from the event.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#window">window</a></b>
						</div>
						<div class="description">Event position relative to the entire html window.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.MouseEvent#world">world</a></b>
						</div>
						<div class="description">Event position relative to the game window.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.MouseEvent</b>()
		</div>

		<div class="description">
			Simple class for holding properties for a mouse event
		</div>

		


			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="changedTouches"> </a>
			<div class="fixedFont">

			
			<b>changedTouches</b>

			</div>
			<div class="description">
				Touch objects returned from the event that have been updated.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="gestureRotation"> </a>
			<div class="fixedFont">

			
			<b>gestureRotation</b>

			</div>
			<div class="description">
				The rotation of the current gesture.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="gestureScale"> </a>
			<div class="fixedFont">

			
			<b>gestureScale</b>

			</div>
			<div class="description">
				The scale of the current gesture.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="parent"> </a>
			<div class="fixedFont">

			
			<b>parent</b>

			</div>
			<div class="description">
				Event position relative to the parent of object which the event was
raised from.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="position"> </a>
			<div class="fixedFont">

			
			<b>position</b>

			</div>
			<div class="description">
				Event position relative to the object in which the event was raised from.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="scrollDelta"> </a>
			<div class="fixedFont">

			
			<b>scrollDelta</b>

			</div>
			<div class="description">
				The scroll delta for mouse wheel. This is only filled in for mousewheel
events.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="targetTouches"> </a>
			<div class="fixedFont">

			
			<b>targetTouches</b>

			</div>
			<div class="description">
				Touch objects returned that originate from the same target element.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="touches"> </a>
			<div class="fixedFont">

			
			<b>touches</b>

			</div>
			<div class="description">
				Touch objects returned from the event.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="window"> </a>
			<div class="fixedFont">

			
			<b>window</b>

			</div>
			<div class="description">
				Event position relative to the entire html window.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="world"> </a>
			<div class="fixedFont">

			
			<b>world</b>

			</div>
			<div class="description">
				Event position relative to the game window.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	

<!-- ============================== event details ========================= -->
	
</div>