<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.debug.Logger
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The debug panel class

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/modules/pulse.debugsrc/logger.js">/src/logger.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.debug.Logger.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Logger#constructor">pulse.debug.Logger</a></b>(params)
					</div>
					<div class="description">Class for adding log messages to a containing dom element.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.debug.Logger.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Logger#colors">colors</a></b>
						</div>
						<div class="description">The colors for the different message types</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Logger#container">container</a></b>
						</div>
						<div class="description">The containing element for the log messages.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.debug.Logger.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Logger#addMessage">addMessage</a></b>(text, type)
						</div>
						<div class="description">Adds a log message to this logger element.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Logger#clearFilter">clearFilter</a></b>()
						</div>
						<div class="description">Removes any filter from the log console, showing all the messages.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Logger#filterType">filterType</a></b>(type)
						</div>
						<div class="description">Filters the log container by the type of log message.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.debug.Logger</b>(params)
		</div>

		<div class="description">
			Class for adding log messages to a containing dom element.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						<i>Optional</i>
					</dt>
						<dd>parameters that can be set as initialized options
on the logger</dd>
				
					<dt>
						<span class="light fixedFont">{DOMElement}</span>  <b>params.container</b>
						<i>Optional</i>
					</dt>
						<dd>the element to add the log messages to</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="colors"> </a>
			<div class="fixedFont">

			
			<b>colors</b>

			</div>
			<div class="description">
				The colors for the different message types
			</div>

			

				
				
				
				

			<hr />
		
			<a name="container"> </a>
			<div class="fixedFont">

			
			<b>container</b>

			</div>
			<div class="description">
				The containing element for the log messages.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="addMessage"> </a>
			<div class="fixedFont">

			
			<b>addMessage</b>(text, type)

			</div>
			<div class="description">
				Adds a log message to this logger element.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>text</b>
							
						</dt>
						<dd>the log message to add</dd>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the type of log message to add</dd>
					
					</dl>
				
				
				
				
				
				
				

			<hr />
		
			<a name="clearFilter"> </a>
			<div class="fixedFont">

			
			<b>clearFilter</b>()

			</div>
			<div class="description">
				Removes any filter from the log console, showing all the messages.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="filterType"> </a>
			<div class="fixedFont">

			
			<b>filterType</b>(type)

			</div>
			<div class="description">
				Filters the log container by the type of log message.
			</div>

			

				
					<dl class="detailList">
					<dt class="heading">Parameters:</dt>
					
						<dt>
							<span class="light fixedFont">{string}</span> <b>type</b>
							
						</dt>
						<dd>the type of message to filter</dd>
					
					</dl>
				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>