<div id="docs-content">
<!-- ============================== class title ============================ -->
	<h1 class="classTitle">
		
		Class pulse.debug.Counter
	</h1>

<!-- ============================== class summary ========================== -->
	<p class="description">
		
		

		The debug counter class

		
			<br /><span class="em">Defined in: </span> <a href="https://github.com/onmodulus/pulse/blob/master/lib/modules/pulse.debugsrc/counter.js">/src/counter.js</a>
		
	</p>

<!-- ============================== constructor summary ==================== -->
	
	<table class="summaryTable" cellspacing="0" summary="A summary of the constructor documented in the class pulse.debug.Counter.">
		<caption>Class Summary</caption>
		<thead>
			<tr>
				<th scope="col">Constructor Attributes</th>
				<th scope="col">Constructor Name and Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="attributes">&nbsp;</td>
				<td class="nameDescription" >
					<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Counter#constructor">pulse.debug.Counter</a></b>(params)
					</div>
					<div class="description">Counter class that handles tracks counting event occurances.</div>
				</td>
			</tr>
		</tbody>
	</table>
	

<!-- ============================== properties summary ===================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the fields documented in the class pulse.debug.Counter.">
			<caption>Field Summary</caption>
			<thead>
				<tr>
					<th scope="col">Field Attributes</th>
					<th scope="col">Field Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Counter#count">count</a></b>
						</div>
						<div class="description">Current count of this counter.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont">
						<b><a href="../symbols/pulse.debug.Counter#name">name</a></b>
						</div>
						<div class="description">The name of the timer.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	

<!-- ============================== methods summary ======================== -->
	
		
		
		<table class="summaryTable" cellspacing="0" summary="A summary of the methods documented in the class pulse.debug.Counter.">
			<caption>Method Summary</caption>
			<thead>
				<tr>
					<th scope="col">Method Attributes</th>
					<th scope="col">Method Name and Description</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Counter#decrement">decrement</a></b>()
						</div>
						<div class="description">Decrements the counter.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Counter#increment">increment</a></b>()
						</div>
						<div class="description">Increments the counter.</div>
					</td>
				</tr>
			
				<tr>
					<td class="attributes">&nbsp;</td>
					<td class="nameDescription">
						<div class="fixedFont"><b><a href="../symbols/pulse.debug.Counter#reset">reset</a></b>()
						</div>
						<div class="description">Resets the counter.</div>
					</td>
				</tr>
			
			</tbody>
		</table>
		

		
	
<!-- ============================== events summary ======================== -->
	

<!-- ============================== constructor details ==================== -->
	
	<div class="details"><a name="constructor"> </a>
		<div class="sectionTitle">
			Class Detail
		</div>

		<div class="fixedFont">
				<b>pulse.debug.Counter</b>(params)
		</div>

		<div class="description">
			Counter class that handles tracks counting event occurances.
		</div>

		


			
				<dl class="detailList">
				<dt class="heading">Parameters:</dt>
				
					<dt>
						<span class="light fixedFont">{object}</span>  <b>params</b>
						<i>Optional</i>
					</dt>
						<dd>parameters that can be set as initialized options
on the node</dd>
				
					<dt>
						<span class="light fixedFont">{string}</span>  <b>params.name</b>
						<i>Optional</i>
					</dt>
						<dd>name of the timer</dd>
				
				</dl>
			
			
			
			
			
			
			

	</div>
	

<!-- ============================== field details ========================== -->
	
		<div class="sectionTitle">
			Field Detail
		</div>
		
			<a name="count"> </a>
			<div class="fixedFont">

			
			<b>count</b>

			</div>
			<div class="description">
				Current count of this counter.
			</div>

			

				
				
				
				

			<hr />
		
			<a name="name"> </a>
			<div class="fixedFont">

			
			<b>name</b>

			</div>
			<div class="description">
				The name of the timer.
			</div>

			

				
				
				
				

			
		
	

<!-- ============================== method details ========================= -->
	
		<div class="sectionTitle">
			Method Detail
		</div>
		
			<a name="decrement"> </a>
			<div class="fixedFont">

			
			<b>decrement</b>()

			</div>
			<div class="description">
				Decrements the counter.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="increment"> </a>
			<div class="fixedFont">

			
			<b>increment</b>()

			</div>
			<div class="description">
				Increments the counter.
			</div>

			

				
				
				
				
				
				
				

			<hr />
		
			<a name="reset"> </a>
			<div class="fixedFont">

			
			<b>reset</b>()

			</div>
			<div class="description">
				Resets the counter.
			</div>

			

				
				
				
				
				
				
				

			
		
	

<!-- ============================== event details ========================= -->
	
</div>